.member{
overflow: hidden;
}
.member:hover> .member-info{
    transform: translateX(0);
}
.member:hover img{
    transform: scale(1.1);
}
.member-info{
transition: all ease-in-out .3s;
transform: translateY(200px);
}