*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;

}


:root {
  --font-title: #173152;
  --font-description: #42576C;
  --section-background: #F2F6FB;
  --button-background: #214B85;
}


/* swiper slider  */
.swiper-slide {
  display: flex;
  align-items: center;
  background-color: var(--section-background);
}

@media screen and (max-width: 700px) {
  .swiper-slide {
    flex-direction: column;
  }
  #last-bloginfo{
    padding-bottom: 30px;
  }
}